<html>
    <head>
        <title>QE Assignment 1</title>
    </head>
<body>

    <div>
        <button id="start_button" onclick="start_listening()" type="button">Start listening</button>
    </div>

    <div>
        <img id="newest_image"/>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script>
        $(function() {
            console.log("log")
        });

        var update_image = function()
        {
            $.ajax({
                url: "get_image",
                contentType: "text/plain",
                success: function(src) {
                    $("#newest_image").attr("src",src)
                }
            }).done(function() {
                if (listening) {
                    update_image()
                }
            })
        }

        var listening = false
        var start_listening = function()
        {
            listening = !listening
            if (listening) {
                update_image()
                $("#start_button").text("Stop listening")
                $.ajax({ url: "start_listening"})
            }
            else {
                $("#start_button").text("Start listening")
                $.ajax({ url: "stop_listening"})
            }
        }
    </script>

</body>
</html>
