<html>
    <head>
        <title>QE Assignment 1</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
<body>

    <div>
        <button id="start_button" onclick="start_listening()" type="button">Start listening</button>
    </div>

    <div>
        <img id="newest_image"/>
    </div>

    <div id="thumbnails">
     <% 10.times do |i| %>
         <img/>
      <% end %>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script>
        $(function() {
            console.log("log")
        });

        var update_image = function()
        {
            var last_src = ""

            $.ajax({
                url: "get_image",
                contentType: "text/plain",
                success: function(src) {
                    $("#newest_image").attr("src",src)
                    last_src = $("#newest_image").attr("src")
                    if (last_src) {
                        $("#thumbnails").prepend("<img src='" + last_src + "'/>")
                        $("#thumbnails").children().last().remove()
                    }
                }
            }).done(function() {
                if (listening) {
                    update_image()
                }
            })
        }

        var listening = false
        var start_listening = function()
        {
            listening = !listening
            if (listening) {
                update_image()
                $("#start_button").text("Stop listening")
                $.ajax({ url: "start_listening"})
            }
            else {
                $("#start_button").text("Start listening")
                $.ajax({ url: "stop_listening"})
            }
        }
    </script>

</body>
</html>
